@media (max-width: 768px) {
    #intro,
    #mispelis,
    #misseries {
      width: 90% !important;
    }
  
    .servicio-fila {
      width: 100% !important;
      text-align: center;
    }
  
    .icono-wrap {
      flex-wrap: wrap;
      justify-content: center !important;
    }
  }